
    <div class="container">
        <ul class="row"  style="display: flex ; justify-content:space-between">

            <li><a href="{{ path('index') }}">accueil</a></li>
            <li>connexion</li>
            <li><a href="{{ path('user_register') }}">inscription</a></li>
        </ul>
    </div>

